node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Securify
securify2/img
securify2/securify
securify2/securify.egg-info
securify2/tests
securify2/LICENSE
securify2/README.md
securify2/setup.py
securify2/solidity.bnf